<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asmorath WB - Home</title>
        <link rel="stylesheet" href="/static/css/book.css">
    </head>
    <body>
        <h1>Asmorath World Book</h1>
        <ul>
        {% for page in pages %}
            {% set outer_loop = loop %}
            <li><a href="/pages/{{loop.index0}}">{{loop.index0}} {{page["name"]}}</a>
            {% if page["subsec"]|length > 0 %}
                <ul>
                {% for subpage in page["subsec"] %}
                    <li><a href="/pages/{{outer_loop.index0}}.{{loop.index}}">{{outer_loop.index0}}.{{loop.index}} {{subpage["name"]}}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </body>
</html>